In [1]:
my_list = [123456]
my_list[::-1]

[123456]

In [2]:
my_list = ["123456"]
my_list[::-1]

['123456']

In [3]:
my_list = [[1,5,6,7,8]]
my_list[::-1]

[[1, 5, 6, 7, 8]]

In [4]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [6]:
a = [1,2,3,4,5,3]
a.remove(3)
a

[1, 2, 4, 5, 3]

In [7]:
a = [1,2,3,4,5]
del a[2]
a

[1, 2, 4, 5]

In [9]:
a = [1,2,3,4,5]
a[2:3] = []
a

[1, 2, 4, 5]

In [11]:
a = [1,2,3,4,5]
a[2:2] = []
a

[1, 2, 3, 4, 5]

In [12]:
del a

In [13]:
a

NameError: name 'a' is not defined

In [16]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
print(letters[-3:-7:-1])
print(letters[2:6:-1])

['h', 'g', 'f', 'e']
[]

In [20]:
letters[100:-10:-1]

['j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b']

In [22]:
letters[100:]

[]

In [23]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [24]:
help(list.clear)

Help on method_descriptor:

clear(self, /)
    Remove all items from list.

In [26]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
letters.clear()
letters

[]

In [27]:
list1 = [1,2,3]
list2 = list1
list1.append(4)
print(list1, list2, sep="\n")

[1, 2, 3, 4]
[1, 2, 3, 4]

In [28]:
list1 = [1,2,3]
list2 = list1.copy()
list1.append(4)
print(list1, list2, sep="\n")

[1, 2, 3, 4]
[1, 2, 3]

In [30]:
help(list.copy)

Help on method_descriptor:

copy(self, /)
    Return a shallow copy of the list.

In [34]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j',"a",[1,2]]
print(letters.count(0))

0

In [35]:
help(list.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [36]:
list1 = [1,2,3]
list2 = [4,5,6]
list1.append(list2)
list1

[1, 2, 3, [4, 5, 6]]

In [37]:
# [1,2,3,4,5,6]
list1 = [1,2,3]
list2 = [4,5,6]
list1.extend(list2)
list1

[1, 2, 3, 4, 5, 6]

In [38]:
list1 = [1,2,3]
list2 = [4,5,6]
list1 = list1 + list2
list1

[1, 2, 3, 4, 5, 6]

In [42]:
[1,2,3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [43]:
help(list.extend)

Help on method_descriptor:

extend(self, iterable, /)
    Extend list by appending elements from the iterable.

In [44]:
list1 = [1,2,3]
list1.extend("andrew")
list1

[1, 2, 3, 'a', 'n', 'd', 'r', 'e', 'w']

In [45]:
list1 = [1,2,3]
list1.extend(456)
list1

TypeError: 'int' object is not iterable

In [46]:
list1 = [1,2,3]
list1.append(456)
list1

[1, 2, 3, 456]

In [47]:
list1 = [1,2,3]
list1.append("andrew")
list1

[1, 2, 3, 'andrew']

In [52]:
list1 = [1,2,3,1]
print(list1.index(1,1))

3

In [50]:
help(list.index)

Help on method_descriptor:

index(self, value, start=0, stop=9223372036854775807, /)
    Return first index of value.

    Raises ValueError if the value is not present.

In [53]:
help(list.pop)

Help on method_descriptor:

pop(self, index=-1, /)
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [54]:
list1 = [1,2,3,1]
list1.pop()

1

In [55]:
list1.pop()

3

In [56]:
list1

[1, 2]

In [57]:
list1.pop(0)

1

In [58]:
list1

[2]

In [60]:
list1.pop()

IndexError: pop from empty list

In [62]:
list1 = [1,2,3]
list1.reverse()
list1

[3, 2, 1]

In [63]:
list1 = [1,2,3]
list1 = list1.reverse()
print(list1)

None

In [64]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [65]:
help(list.reverse)

Help on method_descriptor:

reverse(self, /)
    Reverse *IN PLACE*.

In [66]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [68]:
list1 = [1,2,3]
list1 = list1.append(4)
print(list1)

None

In [69]:
list1 = [1,2,3]
list1 = list1.reverse()
print(list1)

None

In [71]:
list1 = [1,2,3]
list1 = list1.pop()
print(list1)

3

In [72]:
list1 = [1,2,3]
list1 = list1.index(1)
print(list1)

0

In [73]:
var = "andrew"
var.upper().swapcase().title()

'Andrew'

In [74]:
var

'andrew'

In [75]:
None.append(5)

AttributeError: 'NoneType' object has no attribute 'append'

In [76]:
list1 = [1,2,3]
list1.append(4).append(5)

AttributeError: 'NoneType' object has no attribute 'append'

In [77]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [78]:
a = (1,2)
a.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [79]:
tuple_1 = ('h', 'a', 'p', 'p', 'y')
word = 'happy'
tuple_2 = tuple(word)
print(tuple_1)
print(tuple_2)

('h', 'a', 'p', 'p', 'y')
('h', 'a', 'p', 'p', 'y')

In [83]:
my_tuple = ("Solar",)
print(my_tuple, type(my_tuple))

('Solar',) <class 'tuple'>

In [84]:
my_tuple = "Solar",
print(my_tuple, type(my_tuple))

('Solar',) <class 'tuple'>

In [86]:
solar = 'Earth', 'Venus', 'Uranus'
print(solar, type(solar), sep='\n')

('Earth', 'Venus', 'Uranus')
<class 'tuple'>

In [87]:
my_tuple = (1, 4, 3, 4, 5, 6, 7, 4)
my_list = list(my_tuple)
print(type(my_list), my_list)

<class 'list'> [1, 4, 3, 4, 5, 6, 7, 4]

In [88]:
mountain = tuple('Alps')
print(mountain)

('A', 'l', 'p', 's')

In [89]:
tuple_1 = 'h', 'a', 'p', 'p', 'y'
tuple_2 = 1, 3, 5
print(tuple_1)
print(type(tuple_1))
print(tuple_2)

('h', 'a', 'p', 'p', 'y')
<class 'tuple'>
(1, 3, 5)

In [90]:
numbers = tuple(range(1, 11))

print(numbers, type(numbers), sep= "\n")

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [93]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [92]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [94]:
even_no = (0, 2, 4)
print(even_no[0])
print(even_no[1])
print(even_no[2])
print(even_no[3])

0
2
4

IndexError: tuple index out of range

In [96]:
even_no = [0, 2, 4]
print(even_no[-3])
print(even_no[-2])
print(even_no[-1])
print(even_no[3])

0
2
4

IndexError: list index out of range

In [101]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))
str_six = mix_tuple[2][2][0]
print(str_six)

six

In [107]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))
output = mix_tuple[2][1:3]
print(output, type(output), sep="\n")

['two', ('six', 6)]
<class 'list'>

In [108]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))
last = mix_tuple[-1]
print(last, type(last), sep="\n")

(5, 'fair')
<class 'tuple'>

In [109]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))
option_1 = mix_tuple[-1][-1]
option_2 = mix_tuple[3][1]

print(option_1, option_2)

fair fair

In [110]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [111]:
help(tuple.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [112]:
help(tuple.index)

Help on method_descriptor:

index(self, value, start=0, stop=9223372036854775807, /)
    Return first index of value.

    Raises ValueError if the value is not present.

In [113]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))

print(mix_tuple.count(11))
print(mix_tuple.index("11"))

1
0

In [114]:
mix_tuple.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [115]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))

mix_tuple[2] = 2

TypeError: 'tuple' object does not support item assignment

In [117]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))

mix_tuple[2].append(3)

In [118]:
mix_tuple

('11', 11, [2, 'two', ('six', 6), 3], (5, 'fair'))

In [120]:
# List (Mutable)
my_list = [1, 2, 3]
my_list[0] = 100  # Allowed
print(my_list)  # Output: [100, 2, 3]

# Tuple (Immutable)
my_tuple = (1, 2, 3)
my_tuple[0] = 100  # This will raise an error: TypeError: 'tuple' object does not support item assignment

[100, 2, 3]

TypeError: 'tuple' object does not support item assignment

In [121]:
var = "andrew"
var[0] = "A"

TypeError: 'str' object does not support item assignment

In [124]:
import timeit

print(timeit.timeit(stmt="x = (1,2,3,4,5)", number=100000000))  # Faster
print(timeit.timeit(stmt="x = [1,2,3,4,5]", number=100000000))  # Slower

0.5791884169739205
2.8655559579783585

In [126]:
import sys

list_data = list(range(1000000))
tuple_data = tuple(range(1000000))

print(sys.getsizeof(list_data))  # More memory
print(sys.getsizeof(tuple_data))  # Less memory

8000056
8000040

In [129]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))
_ = list(mix_tuple)
_.append(5)
mix_tuple = tuple(_)
mix_tuple

('11', 11, [2, 'two', ('six', 6)], (5, 'fair'), 5)

In [128]:
tuple(None)

TypeError: 'NoneType' object is not iterable

In [130]:
my_dict ={'key1':'value1',
'key2':'value2',
'key3':'value3'
}
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [132]:
my_dict ={1:'value1',
(1,):'value2',
[1,2]:'value3'
}
my_dict

TypeError: unhashable type: 'list'

In [133]:
grocer1 = {'fruit':'apple', 'drink':'water'}
grocer2 = dict(fruit='apple', drink='water')
print(grocer1)
print(grocer2)

{'fruit': 'apple', 'drink': 'water'}
{'fruit': 'apple', 'drink': 'water'}

In [135]:
1 = "test"

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (678819333.py, line 1)

In [136]:
grocer1 = {1:'apple', 2:'water'}
grocer2 = dict(1='apple', drink='water')
print(grocer1)
print(grocer2)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (346564458.py, line 2)

In [141]:
state_capitals = {'Arkansas':'Little Rock',
			'Colorado':'Denver',
			'California':'Sacramento',
			'Georgia':'Atlanta',
            1:2
			}
print(state_capitals['Colorado'])

Denver

In [142]:
state_capitals[1]

2

In [143]:
print(state_capitals['colorado'])

KeyError: 'colorado'

In [146]:
from pprint import pprint

state_capitals = {'Arkansas':'Little Rock',
			'Colorado':'Denver',
			'California':'Sacramento',
			'Georgia':'Atlanta'
			}
state_capitals['Virginia'] = 'Richmond'
pprint(state_capitals)

{'Arkansas': 'Little Rock',
 'California': 'Sacramento',
 'Colorado': 'Denver',
 'Georgia': 'Atlanta',
 'Virginia': 'Richmond'}

In [147]:
from pprint import pprint

state_capitals = {'Arkansas':'Little Rock',
			'colorado':'Denver',
			'California':'Sacramento',
			'Georgia':'Atlanta'
			}
state_capitals['Colorado'] = "Denver"
state_capitals

{'Arkansas': 'Little Rock',
 'colorado': 'Denver',
 'California': 'Sacramento',
 'Georgia': 'Atlanta',
 'Colorado': 'Denver'}

In [148]:
state_capitals = {'Arkansas':'Little Rock',
			'colorado':'Denver',
			'California':'Sacramento',
			'Georgia':'Atlanta'
			}
state_capitals['Colorado'] = state_capitals["colorado"]
del state_capitals["colorado"]
state_capitals

{'Arkansas': 'Little Rock',
 'California': 'Sacramento',
 'Georgia': 'Atlanta',
 'Colorado': 'Denver'}

In [149]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [150]:
help(dict.pop)

Help on method_descriptor:

pop(...)
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.

    If the key is not found, return the default if given; otherwise,
    raise a KeyError.

In [151]:
state_capitals = {'Arkansas':'Little Rock',
			'colorado':'Denver',
			'California':'Sacramento',
			'Georgia':'Atlanta'
			}
state_capitals['Colorado'] = state_capitals["colorado"]
state_capitals.pop("colorado")
state_capitals

{'Arkansas': 'Little Rock',
 'California': 'Sacramento',
 'Georgia': 'Atlanta',
 'Colorado': 'Denver'}

In [152]:
pprint(state_capitals)

{'Arkansas': 'Little Rock',
 'California': 'Sacramento',
 'Colorado': 'Denver',
 'Georgia': 'Atlanta'}

In [156]:
mix_values = {'animal':('dog','cat'),
              'planet': ['Neptun', 'Saturn', 'Jupiter'],
              'number': 40,
              'pi':3.14,
              'is_good': True,
              "number":50}


mix_keys = {22:'integer',
		1.2:'float',
		True:'boolean',
		'key':'string'}

pprint(mix_values)
pprint(mix_keys)

{'animal': ('dog', 'cat'),
 'is_good': True,
 'number': 50,
 'pi': 3.14,
 'planet': ['Neptun', 'Saturn', 'Jupiter']}
{True: 'boolean', 1.2: 'float', 22: 'integer', 'key': 'string'}

In [160]:
mix_values["number"] = 60
mix_values

{'animal': ('dog', 'cat'),
 'planet': ['Neptun', 'Saturn', 'Jupiter'],
 'number': 60,
 'pi': 3.14,
 'is_good': True}

In [161]:
mix_values["number"] = 3.14
mix_values

{'animal': ('dog', 'cat'),
 'planet': ['Neptun', 'Saturn', 'Jupiter'],
 'number': 3.14,
 'pi': 3.14,
 'is_good': True}

In [157]:
[1,1,1,1]

[1, 1, 1, 1]

In [158]:
(1,1,1,1,)

(1, 1, 1, 1)

In [159]:
{1:2,1:3}

{1: 3}