In [1]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']
letters[100:150]

[]

In [2]:
letters[100:-10:-1]

['l', 'k', 'j', 'i', 'h', 'g', 'f', 'e', 'd']

In [4]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
letters.clear()
letters

[]

In [9]:
list1 = [1,2,3]
list2 = list1
list1.append(4)
print(list1, list2)

[1, 2, 3, 4] [1, 2, 3, 4]

In [ ]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', "a"]
print(letters.count("a"))

2

2

In [12]:
help(list.count)

Help on method_descriptor:

count(self, value, /) unbound builtins.list method
    Return number of occurrences of value.

In [13]:
list1 = [1,2,3]
list2 = [4,5,6]

In [24]:

list1 = [1,2,3]
list2 = [4,5,6]
list1.append(list2)
print(list1, list2)

[1, 2, 3, [4, 5, 6]] [4, 5, 6]

In [26]:
list1 = [1,2,3]
list2 = [4,5,6]
list1 = list1 + list2
list1

[1, 2, 3, 4, 5, 6]

In [27]:
[1,2,3] + [4]

[1, 2, 3, 4]

In [28]:
[1,2,3] + 4

TypeError: can only concatenate list (not "int") to list

In [29]:
[1,2,3] * 4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [30]:
help(list.extend)

Help on method_descriptor:

extend(self, iterable, /) unbound builtins.list method
    Extend list by appending elements from the iterable.

In [34]:
list1 = [1,2,3]
list1.extend("andrew")
list1

[1, 2, 3, 'a', 'n', 'd', 'r', 'e', 'w']

In [35]:
list1 = [1,2,3]
list1.extend(1223)
list1

TypeError: 'int' object is not iterable

In [36]:
list1 = [1,2,3]
list1.index()
list1

TypeError: index expected at least 1 argument, got 0

In [37]:
list1 = [1,2,3]
list1.index(5)
list1

ValueError: 5 is not in list

In [39]:
list1 = [1,2,3]
list1.index(2)

1

In [40]:
list1[5]

IndexError: list index out of range

In [41]:
help(list.pop)

Help on method_descriptor:

pop(self, index=-1, /) unbound builtins.list method
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [42]:
list1 = [1,2,3]
list1.pop()
list1

[1, 2]

In [43]:
list1 = [1,2,3]
list1.pop()

3

In [44]:
list1 = [1,2,3]
list1.pop(0)

1

In [45]:
list1

[2, 3]

In [48]:
my_tuple = ("Solar",)
print(my_tuple, type(my_tuple), sep="\n")

('Solar',)
<class 'tuple'>

In [49]:
my_tuple = ("Solar")
print(my_tuple, type(my_tuple), sep="\n")

Solar
<class 'str'>

In [50]:
my_tuple = "Solar"
print(my_tuple, type(my_tuple), sep="\n")

Solar
<class 'str'>

In [51]:
my_tuple = (123)
print(my_tuple, type(my_tuple), sep="\n")

123
<class 'int'>

In [52]:
my_tuple = "Solar",
print(my_tuple, type(my_tuple), sep="\n")

('Solar',)
<class 'tuple'>

In [55]:
my_tuple = ("Solar",)

len(my_tuple)

1

In [57]:
my_tuple = "Earth",'Venus', 'Uranus'
print(my_tuple, type(my_tuple), sep="\n")

('Earth', 'Venus', 'Uranus')
<class 'tuple'>

In [58]:
my_tuple = ('1', '2', '3', '4', '5',    '6', '7', '8', '9', '10')
my_list = list(my_tuple)
print(my_list, type(my_list), sep="\n")
print(my_tuple, type(my_tuple), sep="\n")

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
<class 'list'>
('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')
<class 'tuple'>

In [59]:
mountains = tuple('Alps')
print(mountains, type(mountains), sep="\n")

('A', 'l', 'p', 's')
<class 'tuple'>

In [63]:
my_tuple = tuple(range(1,11))
print(my_tuple, type(my_tuple), sep="\n")

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [69]:
print(tuple([x for x in range(1,11)]))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [70]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)],(5, 'fair'))
str_six = mix_tuple[2][1:3]
print(str_six, type(str_six), sep="\n")

['two', ('six', 6)]
<class 'list'>

In [72]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)],(5, 'fair'))
last = mix_tuple[-1]
print(last, type(last), sep="\n")

(5, 'fair')
<class 'tuple'>

In [74]:
print(mix_tuple[-1][-1])

print(mix_tuple[3][1])

fair
fair

In [75]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)],(5, 'fair'))
print(mix_tuple.count(11))
print(mix_tuple.index("11"))

1
0

In [76]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)],(5, 'fair'))
mix_tuple[2] = 2

TypeError: 'tuple' object does not support item assignment

In [77]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)],(5, 'fair'))
mix_tuple[2].append("33")
print(mix_tuple)

('11', 11, [2, 'two', ('six', 6), '33'], (5, 'fair'))

In [78]:
var = "andrew"
var[0] = "A"

TypeError: 'str' object does not support item assignment

In [79]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)],(5, 'fair'))
_ = list(mix_tuple)
_.append(5)
mix_tuple = tuple(_)
mix_tuple

('11', 11, [2, 'two', ('six', 6)], (5, 'fair'), 5)

In [ ]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)],(5, 'fair'))
_ = list(mix_tuple)
_.append(5)
mix_tuple = tuple(list(mix_tuple).append(5)3)
mix_tuple

TypeError: 'NoneType' object is not iterable

In [81]:
my_dict = {'key1':'value1',
           'key2':'value2'}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [82]:
grocer1 = {'fruit':'apple', 'drink':'water'}
grocer2 = {fruit:'apple', drink:'water'}
print(grocer1)
print(grocer2)

NameError: name 'fruit' is not defined

In [1]:
grocer1 = {'fruit':'apple', 'drink':'water'}
grocer2 = dict(fruit='apple', drink='water')
print(grocer1)
print(grocer2)

{'fruit': 'apple', 'drink': 'water'}
{'fruit': 'apple', 'drink': 'water'}

In [ ]:
grocer1 = {'fruit':'apple', 'drink':'water'}
grocer2 = {'fruit'='apple', 'drink'='water'}
print(grocer1)
print(grocer2)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3222383707.py, line 2)

In [85]:
grocer1 = {'fruit':'apple', 'drink':'water'}
grocer2 = {'fruit':'apple', 'drink':'water'}
print(grocer1)
print(grocer2)

{'fruit': 'apple', 'drink': 'water'}
{'fruit': 'apple', 'drink': 'water'}

In [ ]:
from pprint import pprint

grocer1 = {'fruit':'apple', 'drink':'water'}
grocer2 = {1:'apple', 2:'water'}
grocer2[1]='Fruit'
print(grocer1)
pprint(grocer2)
grocer2

{'fruit': 'apple', 'drink': 'water'}
{1: 'Fruit', 2: 'water'}

{1: 'Fruit', 2: 'water'}

In [2]:
grocer1 = {1:'apple', 2:'water'}
grocer2 = dict(1='apple', drink='water')
print(grocer1)
print(grocer2)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (346564458.py, line 2)

In [92]:
from pprint import pprint

grocer1 = {'fruit':'apple', 
           'drink':'water'}
grocer1['Fruit'] = 'banana'
grocer1['Fruit'] = grocer1['fruit']
del grocer1['fruit']
pprint(grocer1)

{'Fruit': 'apple', 'drink': 'water'}

In [93]:
from pprint import pprint

grocer1 = {'fruit':'apple', 'drink':'water'}
grocer2 = {1:'apple', 2:'water'}
pprint(grocer1,grocer2)

AttributeError: 'dict' object has no attribute 'write'

In [ ]:
from pprint import pprint

grocer1 = {'fruit':'apple', 
           'drink':'water',
           'beverages':'bread',
           'soup':'tomatosoup',
           'soup':'tomatosoup',
           'soup':'tomatosoup'} #
grocer2 = {1:'apple', 2:'water'}
pprint(grocer1)
pprint(grocer2)

{'beverages': 'bread', 'drink': 'water', 'fruit': 'apple', 'soup': 'tomatosoup'}
{1: 'apple', 2: 'water'}

In [ ]:
from pprint import pprint

mix_values = {
    'animal': ('dog', 'cat'),  # tuple type
    'planet': ['Neptun', 'Saturn', 'Jupiter'],  # list type
    'number': 40,  # int type
    'pi': 3.14,  # float type
    'is_good': True  # bool type
}

mix_keys = {
    22: "integer",
    1.2: "float",
    True: "boolean",
    "key": "string"
}
pprint(mix_values)
pprint(mix_keys)

{'animal': ('dog', 'cat'),
 'is_good': True,
 'number': 40,
 'pi': 3.14,
 'planet': ['Neptun', 'Saturn', 'Jupiter']}
{True: 'boolean', 1.2: 'float', 22: 'integer', 'key': 'string'}