In [ ]:
counter = 0
while counter < 5:
    print(counter)
    counter+=1
    if counter == 3:
        break
else:
    print("I am from else part")

In [ ]:
for i in range(10):
    print(i)
else:
    print("I am from else part")

In [ ]:
for i in []:
    print(i)
else:
    print("I am from else part")

In [ ]:
for i in range(10):
    print(i)
    if i == 5:
        break
else:
    print("I am from else part")

In [ ]:
b = 0
d = []
while (b:=b+1) < 4:
    d.append(b)
print(d)

In [ ]:
user = {
    'name':'Daniel',
    'surname':'Smith',
    'age':25
}
for attribute in user:
    print(attribute, type(attribute))

In [ ]:
user = {
    'name':'Daniel',
    'surname':'Smith',
    'age':25
}
for attribute in user.values():
    print(attribute, type(attribute))

In [ ]:
user = {
    'name':'Daniel',
    'surname':'Smith',
    'age':25
}
for attribute in user.items():
    print(attribute, type(attribute))

In [ ]:
user = {
    'name':'Daniel',
    'surname':'Smith',
    'age':25
}
for attribute in user.keys():
    print(attribute, type(attribute))

In [ ]:
key, value = ('name', 'Daniel')
print(key, value)

In [ ]:
user = {
    'name':'Daniel',
    'surname':'Smith',
    'age':25
}
for key, value in user.items():
    print(key, ":", value)

In [ ]:
user = {
    'name':'Daniel',
    'surname':'Smith',
    'age':25
}
for sss, ttt in user.items():
    print(sss, ":", ttt)

In [ ]:
print(sss)
ttt

In [ ]:
times = int(input("how many times should I say I love you?"))
for i in range(times):
    print("I love you")

In [ ]:
number = int(input("Enter a number: "))
for i in range(number):
    print(f"{number} x {i+1} = {number*(i+1)}")

In [ ]:
print(*range(5))
print(range(5))
list1 = [1,2,3,4,5]
print(*list1)
print(list1)
str1 = "Clarusway"
print(*str1)
print(str1)

In [ ]:
print(type(range(5)))

In [ ]:
var = * "Clarusway"
numbers = * range(5)

In [ ]:
def adder(a,b,c):
    return a + b + c

In [ ]:
numbers=(5,2,3)

In [ ]:
adder(*numbers)

In [ ]:
print(*('separate'))
print('s', 'e', 'p', 'a', 'r', 'a', 't', 'e')

In [ ]:
print(*("separate",))

In [ ]:
text = ['one', 'two', 'three', 'four', 'five']
numbers = [1,2,3,4,5]
for x,y in zip(text, numbers):
    print(x,":",y)

In [ ]:
zipped_object = zip(text, numbers)
print(zipped_object, type(zipped_object))

In [ ]:
list(zipped_object)

In [ ]:
tuple(zipped_object)

In [ ]:
dict(zipped_object)

In [ ]:
zip(zipped_object)

In [ ]:
zipped_object = list(zip(text, numbers))
print(zipped_object, type(zipped_object))

In [ ]:
text = ['one', 'two', 'three', 'four', 'five', 'six']
numbers = [1,2,3,4,5]
my_dict = dict(zip(numbers, text, strict=True))

In [ ]:
my_dict

In [ ]:
help(zip)

In [ ]:
even = []
odds = []
for i in range(10):
    if i % 2 == 0:
        even.append(i)
    else:
        odds.append(i)
print(even)
print(odds)

In [ ]:
id(even)

In [ ]:
id(odds)

In [ ]:
numbers = (11,36,33,66,89,21,32,16,10,47,30)
odds = evens = 0
for i in numbers:
    if not i % 2:
        evens += 1
    else:
        odds += 1
print("The number of even numbers: ", evens)
print("The number of odd numbers: ", odds)

In [ ]:
id(odds)

In [ ]:
id(even)

In [ ]:
for i in range(1,10):
    print(str(i) * i)

In [ ]:
for i in range(1,10):
    i = str(i) * i
    print(i.center(9))

In [ ]:
sum = 0
for i in range(1,75):
    sum += i
print(sum)

In [1]:
num = sum(range(1,75))
print(num)

2775

In [2]:
who = ['I am ', 'You are ']
mood = ['happy', 'confident']
for i in who:
    for ii in mood:
        print(i + ii)
    break

I am happy
I am confident

In [5]:
names = ["susan","tom","mike"]
moods = ["happy","confident"]
for name in names:
    for mood in moods:
        print(name + " is " + mood)

susan is happy
susan is confident
tom is happy
tom is confident
mike is happy
mike is confident