In [ ]:
counter = 0
while counter < 5:
    print(counter)
    counter+=1
    if counter == 3:
        break
else:
    print("I am from else part")

In [ ]:
for i in range(10):
    print(i)
else:
    print("I am from else part")

In [ ]:
for i in []:
    print(i)
else:
    print("I am from else part")

In [ ]:
for i in range(10):
    print(i)
    if i == 5:
        break
else:
    print("I am from else part")

In [ ]:
b = 0
d = []
while (b:=b+1) < 4:
    d.append(b)
print(d)

In [3]:
user = {
    'name':'Daniel',
    'surname':'Smith',
    'age':25
}
for attribute in user:
    print(attribute, type(attribute))

name <class 'str'>
surname <class 'str'>
age <class 'str'>

In [1]:
user = {
    'name':'Daniel',
    'surname':'Smith',
    'age':25
}
for attribute in user.values():
    print(attribute, type(attribute))

Daniel <class 'str'>
Smith <class 'str'>
25 <class 'int'>

In [2]:
user = {
    'name':'Daniel',
    'surname':'Smith',
    'age':25
}
for attribute in user.items():
    print(attribute, type(attribute))

('name', 'Daniel') <class 'tuple'>
('surname', 'Smith') <class 'tuple'>
('age', 25) <class 'tuple'>

In [4]:
user = {
    'name':'Daniel',
    'surname':'Smith',
    'age':25
}
for attribute in user.keys():
    print(attribute, type(attribute))

name <class 'str'>
surname <class 'str'>
age <class 'str'>

In [5]:
key, value = ('name', 'Daniel')
print(key, value)

name Daniel

In [6]:
user = {
    'name':'Daniel',
    'surname':'Smith',
    'age':25
}
for key, value in user.items():
    print(key, ":", value)

name : Daniel
surname : Smith
age : 25

In [ ]:
user = {
    'name':'Daniel',
    'surname':'Smith',
    'age':25
}
for sss, ttt in user.items():
    print(sss, ":", ttt)

In [ ]:
print(sss)
ttt

In [ ]:
times = int(input("how many times should I say I love you?"))
for i in range(times):
    print("I love you")

In [ ]:
number = int(input("Enter a number: "))
for i in range(number):
    print(f"{number} x {i+1} = {number*(i+1)}")

In [7]:
print(*range(5))
print(range(5))
list1 = [1,2,3,4,5]
print(*list1)
print(list1)
str1 = "Clarusway"
print(*str1)
print(str1)

0 1 2 3 4
range(0, 5)
1 2 3 4 5
[1, 2, 3, 4, 5]
C l a r u s w a y
Clarusway

In [8]:
print(type(range(5)))

<class 'range'>

In [9]:
var = * "Clarusway"
numbers = * range(5)

SyntaxError: can't use starred expression here (976414045.py, line 1)

In [10]:
def adder(a,b,c):
    return a + b + c

In [11]:
numbers=(5,2,3)

In [12]:
adder(*numbers)

10

In [13]:
print(*('separate'))
print('s', 'e', 'p', 'a', 'r', 'a', 't', 'e')

s e p a r a t e
s e p a r a t e

In [14]:
print(*("separate",))

separate

In [15]:
text = ['one', 'two', 'three', 'four', 'five']
numbers = [1,2,3,4,5]
for x,y in zip(text, numbers):
    print(x,":",y)

one : 1
two : 2
three : 3
four : 4
five : 5

In [16]:
zipped_object = zip(text, numbers)
print(zipped_object, type(zipped_object))

<zip object at 0x124200540> <class 'zip'>

In [17]:
list(zipped_object)

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

In [18]:
tuple(zipped_object)

()

In [19]:
dict(zipped_object)

{}

In [20]:
zip(zipped_object)

In [21]:
zipped_object = list(zip(text, numbers))
print(zipped_object, type(zipped_object))

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)] <class 'list'>

In [22]:
text = ['one', 'two', 'three', 'four', 'five', 'six']
numbers = [1,2,3,4,5]
my_dict = dict(zip(numbers, text, strict=True))

ValueError: zip() argument 2 is longer than argument 1

In [23]:
my_dict

NameError: name 'my_dict' is not defined

In [24]:
help(zip)

Help on class zip in module builtins:

class zip(object)
 |  zip(*iterables, strict=False)
 |
 |  The zip object yields n-length tuples, where n is the number of iterables
 |  passed as positional arguments to zip().  The i-th element in every tuple
 |  comes from the i-th iterable argument to zip().  This continues until the
 |  shortest argument is exhausted.
 |
 |  If strict is true and one of the arguments is exhausted before the others,
 |  raise a ValueError.
 |
 |     >>> list(zip('abcdefg', range(3), range(4)))
 |     [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(self, /)
 |      Return state information for pickling.
 |
 |  __setstate__(self, object, /)
 |      Set state information for unpickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [25]:
even = []
odds = []
for i in range(10):
    if i % 2 == 0:
        even.append(i)
    else:
        odds.append(i)
print(even)
print(odds)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [26]:
id(even)

4926603392

In [27]:
id(odds)

4926765248

In [28]:
numbers = (11,36,33,66,89,21,32,16,10,47,30)
odds = evens = 0
for i in numbers:
    if not i % 2:
        evens += 1
    else:
        odds += 1
print("The number of even numbers: ", evens)
print("The number of odd numbers: ", odds)

The number of even numbers:  6
The number of odd numbers:  5

In [29]:
id(odds)

4396198672

In [ ]:
id(even)

In [ ]:
for i in range(1,10):
    print(str(i) * i)

In [ ]:
for i in range(1,10):
    i = str(i) * i
    print(i.center(9))

In [ ]:
sum = 0
for i in range(1,75):
    sum += i
print(sum)

In [1]:
num = sum(range(1,75))
print(num)

2775

In [2]:
who = ['I am ', 'You are ']
mood = ['happy', 'confident']
for i in who:
    for ii in mood:
        print(i + ii)
    break

I am happy
I am confident

In [5]:
names = ["susan","tom","mike"]
moods = ["happy","confident"]
for name in names:
    for mood in moods:
        print(name + " is " + mood)

susan is happy
susan is confident
tom is happy
tom is confident
mike is happy
mike is confident

In [13]:
row_count = 3
column_count = 10

for i in range(row_count):
    for j in range(column_count):
        print("*", end="")
    print()

**********
**********
**********

In [14]:
row_count = 3
column_count = 10

for i in range(row_count):
    for j in range(column_count):
        print(column_count*"*")
        break

**********
**********
**********

In [20]:
for i in range(1,11):
    for j in range(1,11):
        print(str(i*j).ljust(2), end=" ")
    print()

1  2  3  4  5  6  7  8  9  10
2  4  6  8  10 12 14 16 18 20
3  6  9  12 15 18 21 24 27 30
4  8  12 16 20 24 28 32 36 40
5  10 15 20 25 30 35 40 45 50
6  12 18 24 30 36 42 48 54 60
7  14 21 28 35 42 49 56 63 70
8  16 24 32 40 48 56 64 72 80
9  18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [22]:
for i in range(4):
    for j in range(i+1):
        print(j+1, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4

In [32]:
row_number = 5
column_number = 5
for i in range (row_number):
    if i % 2 == 1:
        print(" ", end="")
    for j in range (column_number):
        print("#", end=" ")
        if i % 2 == 1 and j == column_number - 2:
            break
    print()

# # # # #
 # # # #
# # # # #
 # # # #
# # # # #

In [33]:
sett = set()
print(sett)
sett.add(1)
print(sett)

set()
{1}