In [1]:
listA = [[], {}, False, 0, (), "adnrew"]

filtered_list = filter(None, listA)
print("The filtered elements are : ")
for i in filtered_list:
    print(i)

The filtered elements are :
adnrew

In [2]:
my_tuple = 1,2,3
print(my_tuple)

(1, 2, 3)

In [3]:
for i in filtered_list:
    print(i)

In [4]:
listA = [[], {}, False, 0, (), "adnrew"]

filtered_list = list(filter(None, listA))

In [7]:
print(filtered_list)

['adnrew']

In [12]:
def a_checker(word):
    return word.lower().count("a")

a_checker("test")

0

In [8]:
# filter(a_checker, list_book)

In [9]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function, iterable, /)
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(self, /)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [21]:
text = """ Return an iterator yielding those items of iterable for which function(item)
 is true. If function is None, return the items that are true."""

def a_checker(word):
    return word.lower().count("a")

print(list(filter(a_checker, text.split())))
print(type(text))

['an', 'iterator', 'iterable', 'that', 'are']
<class 'str'>

In [23]:
for index, word in enumerate(text.split(),1):
    print(index, word)

1 Return
2 an
3 iterator
4 yielding
5 those
6 items
7 of
8 iterable
9 for
10 which
11 function(item)
12 is
13 true.
14 If
15 function
16 is
17 None,
18 return
19 the
20 items
21 that
22 are
23 true.

In [25]:
print(min("clarusway"))

a

In [26]:
print(max("clarusway"))

y

In [32]:
capitals = [
    "Kabul", "Tirana", "Algiers", "Andorra la Vella", "Luanda", "Buenos Aires",
    "Yerevan", "Canberra", "Vienna", "Baku", "Nassau", "Manama", "Dhaka",
    "Bridgetown", "Minsk", "Brussels", "Belmopan", "Porto-Novo", "Thimphu",
    "La Paz", "Sarajevo", "Gaborone", "Brasília", "Sofia", "Ouagadougou",
    "Gitega", "Phnom Penh", "Yaoundé", "Ottawa", "Praia", "Bangui", "N'Djamena",
    "Santiago", "Beijing", "Bogotá", "Moroni", "Kinshasa", "Brazzaville",
    "San José", "Zagreb", "Havana", "Nicosia", "Prague", "Copenhagen",
    "Djibouti", "Roseau", "Santo Domingo", "Quito", "Cairo", "San Salvador",
    "Malabo", "Asmara", "Tallinn", "Mbabane", "Addis Ababa", "Palikir",
    "Suva", "Helsinki", "Paris", "Libreville", "Banjul", "Tbilisi", "Berlin",
    "Accra", "Athens", "Saint George's", "Guatemala City", "Conakry",
    "Bissau", "Georgetown", "Port-au-Prince", "Tegucigalpa", "Budapest",
    "Reykjavik", "New Delhi", "Jakarta", "Tehran", "Baghdad", "Dublin",
    "Jerusalem", "Rome", "Kingston", "Tokyo", "Amman", "Nur-Sultan", "Nairobi",
    "Tarawa", "Pristina", "Kuwait City", "Bishkek", "Vientiane", "Riga",
    "Beirut", "Maseru", "Monrovia", "Tripoli", "Vaduz", "Vilnius", "Luxembourg",
    "Antananarivo", "Lilongwe", "Kuala Lumpur", "Malé", "Bamako", "Valletta",
    "Majuro", "Nouakchott", "Port Louis", "Mexico City", "Chisinau", "Monaco",
    "Ulaanbaatar", "Podgorica", "Rabat", "Maputo", "Naypyidaw", "Windhoek",
    "Yaren", "Kathmandu", "Amsterdam", "Wellington", "Managua", "Niamey",
    "Abuja", "Pyongyang", "Skopje", "Oslo", "Muscat", "Islamabad", "Ngerulmud",
    "Panama City", "Port Moresby", "Asunción", "Lima", "Manila", "Warsaw",
    "Lisbon", "Doha", "Bucharest", "Moscow", "Kigali", "Basseterre",
    "Castries", "Kingstown", "Apia", "San Marino", "São Tomé", "Riyadh",
    "Dakar", "Belgrade", "Victoria", "Freetown", "Singapore", "Bratislava",
    "Ljubljana", "Honiara", "Mogadishu", "Pretoria", "Seoul", "Juba", "Madrid",
    "Colombo", "Khartoum", "Paramaribo", "Stockholm", "Bern", "Damascus",
    "Taipei", "Dushanbe", "Dodoma", "Bangkok", "Lomé", "Nukuʻalofa",
    "Port of Spain", "Tunis", "Ankara", "Ashgabat", "Funafuti", "Kampala",
    "Kyiv", "Abu Dhabi", "London", "Washington, D.C.", "Montevideo", "Tashkent",
    "Port Vila", "Vatican City", "Caracas", "Hanoi", "Sana'a", "Lusaka", "Harare"
]


max(capitals, key=a_checker)

'Ulaanbaatar'

In [33]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [34]:
sum("ali")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [37]:
sum([1,2,3,4,5,6,7,6,5,4,3,2],start=10)

58

In [38]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [39]:
round(12,2)

12

In [40]:
round(10.121221)

10

In [41]:
round(10.9892332)

11

In [42]:
int(10.934344)

10

In [43]:
round(1.5)

2

In [44]:
round(2.5)

2

In [45]:
round(3.5)

4

In [46]:
round(4.5)

4

In [49]:
round(3.665,2)

3.67

In [50]:
round(3.675,2)

3.67

In [53]:
round(8.675,2)

8.68

In [59]:
round(3.665,2)

3.67

In [62]:
round(3.675,2)

3.67

In [69]:
def first_function(arg1, arg2):
    print(arg1 ** 2 + arg2 ** 2)
    return None

first_function(2,3)

13

In [70]:
def multiply(a,b):
    print(a*b)

multiply(3,5)
multiply(-1,2.5)
multiply(3,"amazing")

15
-2.5
amazingamazingamazing

In [75]:
def motto():
    print("Don't hesitate to reinvent yourself")
motto()

Don't hesitate to reinvent yourself

In [76]:
len("test",2)

TypeError: len() takes exactly one argument (2 given)

In [ ]:
def add(a,b):
    print(a+b)
    return None

add(-3,5)

2

In [83]:
def calculator(x,y,opr):
    if opr == "+":
        print(x+y)
    elif opr == "-":
        print(x-y)
    elif opr == "*":
        print(x*y)
    elif opr == "/":
        print(x/y)
    elif opr == "%":
        print(x%y)
    else:
        print("Wrong operator")
    return None

calculator(3,4,"-")
calculator(3,4,"*")
calculator(3,4,"/") 
calculator(3,4,"%")

-1
12
0.75
3

In [ ]:
def calculator(x,y,opr):
    if opr in ["+", "-", "*", "/", "//", "%"]:
        print(eval(f"{x} {opr} {y}"))
    else:
        print("Wrong operator")
    return None

print(calculator(3,4,"-"))

-1

In [79]:
help(eval)

Help on built-in function eval in module builtins:

eval(source, /, globals=None, locals=None)
    Evaluate the given source in the context of globals and locals.

    The source may be a string representing a Python expression
    or a code object as returned by compile().
    The globals must be a dictionary and locals can be any mapping,
    defaulting to the current globals and locals.
    If only globals is given, locals defaults to it.

In [80]:
print(3 "+" 5)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (336441609.py, line 1)

In [81]:
eval("3 + 5")

8

In [88]:
def calculator(x,y,opr):
    if opr in opr == "+" or opr == "-" or opr == "*" or opr == "/" or opr == "//" or opr == "%":
        print(eval(f"{x} {opr} {y}"))
    else:
        print("Wrong operator")
    return None

print(calculator(3,4,"-"))

-1
None

In [91]:
def multiply_1(a,b):
    print(a*b)

def multiply_2(a,b):
    return a*b

print(multiply_1(1,1))
print(multiply_2(1,2))

1
None
2

In [92]:
import time

def multiply_1(a,b):
    print(a*b)

def multiply_2(a,b):
    return a*b
print("calling multiply_1")
multiply_1(1,1)
time.sleep(1)
print("calling multiply_2")
multiply_2(1,2)
time.sleep(1)
print("execution is finished")

calling multiply_1
1
calling multiply_2
execution is finished

In [93]:
my_list = []
my_list = my_list.append(5)
my_list

In [ ]:
def calculator(x,y,opr):
    if opr == "+":
        result = x+y
    elif opr == "-":
        result = x-y
    elif opr == "*":
        result = x*y
    elif opr == "/":
        result = x/y
    elif opr == "//":
        result = x//y
    elif opr == "%":
        result = x%y
    else:
        result = "Wrong operator"
    return result
print(calculator(3,4,"-"))

-1

In [98]:
print(result)

NameError: name 'result' is not defined

In [100]:
def test():
    a = 1
    return a

print(test())

1

In [101]:
a

NameError: name 'a' is not defined

In [106]:
for i in range(0,5):
    a = 1

print(i)
print(a)

4
1

In [107]:
print(print.__doc__)

Prints the values to a stream, or to sys.stdout by default.

  sep
    string inserted between values, default a space.
  end
    string appended after the last value, default a newline.
  file
    a file-like object (stream); defaults to the current sys.stdout.
  flush
    whether to forcibly flush the stream.

In [108]:
print(len.__doc__)

Return the number of items in a container.

In [109]:
print(abs.__doc__)

Return the absolute value of the argument.

In [ ]:
def absolute_valuue(num):
    """This function returns 
    the absolute value of entered number"""
    return num if num >= 0 else -num

    
print(absolute_valuue.__doc__)
absolute_valuue(9)

This function returns
the absolute value of entered number

9

In [119]:
help(absolute_valuue)

Help on function absolute_valuue in module __main__:

absolute_valuue(num)
    This function returns
    the absolute value of entered number

In [123]:
import math
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.13/library/math.html

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fma(x, y, z, /)
        Fused multiply-add operation.

        Compute (x * y) + z with a single round.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating-point sum of values in the iterable seq.

        Assumes IEEE-754 floating-point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating-point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base is not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /, *, steps=None)
        Return the floating-point value the given number of steps after x towards y.

        If steps is not specified or is None, it defaults to 1.

        Raises a TypeError, if x or y is not a double, or if steps is not an integer.
        Raises ValueError if steps is negative.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    sumprod(p, q, /)
        Return the sum of products of values from two iterables p and q.

        Roughly equivalent to:

            sum(itertools.starmap(operator.mul, zip(p, q, strict=True)))

        For float and mixed int/float inputs, the intermediate products
        and sums are computed with extended precision.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/lib-dynload/math.cpython-313-darwin.so

In [126]:
abs(-7.5)

7.5

In [ ]:
math.fabs(-7.5)

7.0

In [130]:
math.fabs.__doc__

'Return the absolute value of the float x.'

In [134]:
def texter(text1,text2,text3):
    print(f"{text2} {text3} {text1}")

a = "i"
b = "love"
c = "you"

texter(c,a,b)

i love you

In [135]:
def who(first,last):
    print('Your first name is :',first)
    print('Your last name is :',last)
who(first="Murat",last="Kutlutuna")

Your first name is : Murat
Your last name is : Kutlutuna

In [137]:
texter(text2=a,text3=c,text1=b)

i you love

In [139]:
def func_default(x="ali",y=11):
    print(x,y)

In [141]:
def func_default2(name="someone",age=45):
    print(f"{name} is {age} years old")
func_default2("andrew", 40)

andrew is 40 years old

In [145]:
func_default2()

someone is 45 years old

In [150]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")
    print()

parrot(1000)                                          # 1 positional argument
parrot(voltage=1000)                                  # 1 keyword argument
parrot(voltage=1000000, action='VOOOOOM')             # 2 keyword arguments
parrot(action='VOOOOOM', voltage=1000000)             # 2 keyword arguments
parrot('a million', 'bereft of life', 'jump')         # 3 positional arguments
parrot('a thousand', state='pushing up the daisies')  # 1 positional, 1 keyword

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !

-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !